* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    text-decoration: none;
}

:root {
    font-size: 10px;
}

body {
    height: 100vh;
    
    color: white;
    
    background-color: #ebf2f5;
}

body, button, input, textarea {
    font: 400 1.8rem/1 "Nunito", sans-serif;
}