#page-landing {
    min-height: 100vh;

    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat;

    display: flex;

    text-align: center;
}

#container {
    width: min(90%, 112rem);
    margin: auto;
}

#logo {
    animation-delay: 50ms;
}

.location,
h1,
.visit p {
    height: 16vh;
}

.location {
    margin-top: 8px;
    
    animation-delay: 100ms;
}

main h1 {
    animation-delay: 150ms;
}

.visit p {
    animation-delay: 200ms;
}

.visit a {
    background-color: #ffd666;

    width: 8rem;
    height: 8rem;

    border: none;
    border-radius: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    transition: background-color .2s;

    animation-delay: 250ms;
}

.visit a:hover {
    background-color: #96feff;
}


/* DESKTOP VERSION */

@media (min-width: 768px) {
    #container {
        background: url(../img/bg.svg) no-repeat 80% / clamp(30rem, 54vw, 56rem);

        padding: 5rem 2rem;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .location, h1, .visit p {
        height: initial;
        text-align: initial;
    }
    
    main h1 {
        font-size: clamp(4rem, 8vw, 8.4rem);
        font-weight: 800;
        text-align: .88;

        width: min(300px, 80%);
        margin: clamp(10%, 9vh, 12%) 0 4rem;
    }

    .location {
        margin: 0;

        text-align: right;
        font-size: 2.4rem;
    }

    .visit {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .visit p {
        line-height: 1.2;
        font-size: 2.4rem;

        width: clamp(20rem, 20vw, 30rem)
    }

    .visit a {
        margin: 0;
    }
}